.container {
  font-family: var(--font-geist-sans);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.profileImage {
  border-radius: 50%;
  margin-bottom: 10px;
}

.experience {
  margin-bottom: 20px;
}

.experience ul {
  list-style-type: none;
  padding: 0;
}

.contact {
  margin-bottom: 20px;
}

.footer {
  text-align: center;
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid #ccc;
}
